<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="row">
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div id="vue-app">
      <div class="row">
        <div class="col s12">
          <p>{{ message }} This is HTML5 Boilerplate.</p>
        </div>
      </div>

      <form class="col s12">
        <div class="input-field col s12">
          <input id="title" type="text" class="validate" v-model="title" />
          <label for="title">title</label>
        </div>

        <div class="input-field col s12">
          <textarea id="description" type="text" class="materialize-textarea" v-model="description"></textarea>
          <label for="description">description</label>
        </div>

        <div class="input-field col s12">
          <input id="image_url" type="text" class="validate" v-model="image_url" />
          <label for="image_url">Image URL</label>
        </div>

        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>{{ title }}</h4>
            <p>{{ description }}</p>
            <p><img class="materialboxed" width="300" v-bind:src="image_url" /></p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>

        <!-- card -->
        <div class="card">
          <div class="card-image">
            <img class="materialboxed" width="100" v-bind:src="image_url" />
            <span class="card-title">{{ title }}</span>
          </div>
          <div class="card-content">
            <p>{{ description }}</p>
          </div>
          <div class="card-action">
            <a href="#!">link</a>
          </div>
        </div>

      </form>
    </div>

    <div id="vue-list-app" class="row">
      <form class="col s12">
        <div class="col s4" v-for="(item, index) in items">
          <!-- card -->
          <div class="card">
            <div class="card-image">
              <img class="materialboxed" width="100" v-bind:src="item.image_url" />
              <span class="card-title">{{ item.title }}</span>
            </div>
            <div class="card-content">
              <p>{{ item.description }}</p>
            </div>
            <div class="card-action">
              <a href="#!">link</a>
            </div>
          </div>

          <!-- form -->
          <div class="input-field col s12">
            <input v-bind:id="'title-' + index" type="text" class="validate" v-model="item.title" />
            <label v-bind:for="'title-' + index">title {{ index }}</label>
          </div>

          <div class="input-field col s12">
            <textarea v-bind:id="'description-' + index" type="text" class="materialize-textarea" v-model="item.description"></textarea>
            <label v-bind:for="'description-' + index">description {{ index }}</label>
          </div>

          <div class="input-field col s12">
            <input v-bind:id="'image_url-' + index" type="text" class="validate" v-model="item.image_url" />
            <label v-bind:for="'image_url-' + index">Image URL {{ index }}</label>
          </div>

        </div>
      </form>
    </div>

  </div>

  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    // window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    // ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <!-- <script src="https://www.google-analytics.com/analytics.js" async defer></script> -->

</body>

</html>
